*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    background-color: #f8f1e9;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: hsla(0, 0%, 100%, 0.25);backdrop-filter: blur(4px);
    box-shadow: 0 16px 10px -18px #6a7da8;
    position: fixed;
    top: 0;
    z-index: 2;
}

ul a {
    font-weight: 600;
    color: #2b2b2b;
    text-decoration:none
}

nav a:hover{
    color: grey;
}


.logo img {
    height: 120px
}

ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bannerprincipal {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px 90px;
    gap: 40px;
    height: 700px;
}

.presentacion {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 20px;
    max-width: 50%;
    color: grey;
    font-size: 20px;
    padding: 20px 50px;
}

.imgcongelados {
    display: flex;
    max-height: 400px;
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

h1 {
    font-weight: 900;
    font-size: 40px;
    color: #2b2b2b;
}
  
#descripcion {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: #c9e5af;
    background-image: linear-gradient(356deg, #c9e5af 22%, #dceeb1 90%);
}
  
#descripcion p {
    text-align: center;
    line-height: 30px;
    max-width: 800px;
    font-size: 18px;
    color: grey;
}

.button-74 {
  background-color: #DCEEB1;
  border: 2px solid #c4c8c5;
  border-radius: 30px;
  box-shadow: #c4c8c5 4px 4px 0 0;
  color: #2b2b2b;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #f8f1e9;
}

.button-74:active {
  box-shadow: #c4c8c5 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-74 {
      min-width: 120px;
      padding: 0 25px;
    }
}

#tarjetas {
    padding: 10px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
    gap: 50px;
}

.card1 {
    width: 300px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px 30px;
    gap: 20px;
    border-radius: 20px;
    background-color: #dceeb1;
    background-image: linear-gradient(180deg, #dceeb1 2%, #f7d7cd 77%, #f8c7c9 100%);
    font-size: 18px;
}

.card2{
    width: 300px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px 30px;
    gap: 20px;
    border-radius: 20px;
    background-color: #dceeb1;
    background-image: linear-gradient(180deg, #dceeb1 2%, #f7d7cd 77%, #f8c7c9 100%);
    font-size: 18px;
}

a {
    text-decoration: none;
}

.card3{
    width: 300px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px 30px;
    gap: 20px;
    border-radius: 20px;
    background-color: #dceeb1;
    background-image: linear-gradient(180deg, #dceeb1 2%, #f7d7cd 77%, #f8c7c9 100%);
    font-size: 18px;
    word-wrap: break-word;

}
 #tarjetas h3 {
    display: block;
    margin-block-start: 5px;
    margin-block-end: 5px;
 }

.card1_img {
    max-width: 200px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.card2_img {
    max-width: 200px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.card3_img {
    max-width: 200px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}



.containerContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    gap: 100px;

}

.infoContacto {
    display: flex;
    flex-direction: column;
} 

.ulContacto {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 12px;
}


